body {
    background-color: black;
}

button {

    padding-right: 20px; /*Adjust the value as needed*/
    margin-right: 20px; /*Adjust the value as needed*/
    margin-bottom: 20px;  /*Adjust the value as needed */
    background-color: #4a4a4a;
    color: #060404;
    border: none;
    padding: 20px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .button-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    justify-items: center; /* or other alignment values */
    align-items: center; /* or other alignment values */
  }
  
  
  button:hover {
    background-color: #656565;
  }
  
  button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.3);
  }
  
  button:active {
    transform: translateY(1px);
  }

  
  #mainDiv {
    line-height: 3; /* Adjust this value to increase or decrease the line spacing */
  }

#resetButton {
    background-color: blue;
}
